<div style="max-width:500px; margin:30px auto; padding:0 16px">
  <h2>{{ esEdicion ? 'Editar' : 'Nueva' }} Empresa</h2>

  <div style="display:flex; flex-direction:column; gap:12px">
    <input placeholder="Nombre"   [(ngModel)]="empresa.nombre"   name="nombre" />
    <input placeholder="RNC"      [(ngModel)]="empresa.rnc"      name="rnc" />
    <input placeholder="Teléfono" [(ngModel)]="empresa.telefono" name="telefono" />
    <input placeholder="Email"    [(ngModel)]="empresa.email"    name="email" />

    <div style="display:flex; gap:10px">
      <button routerLink="/">Cancelar</button>
      <button (click)="guardar()">{{ esEdicion ? 'Actualizar' : 'Crear' }}</button>
    </div>
  </div>
</div>