<div style="max-width:600px; margin:30px auto; padding:0 16px">
  <h2>Detalle de Empresa</h2>

  <table border="1" cellpadding="8" width="100%">
    <tr><td><b>RNC</b></td><td>{{ empresa.rnc }}</td></tr>
    <tr><td><b>Nombre</b></td><td>{{ empresa.nombre }}</td></tr>
    <tr><td><b>Nombre Comercial</b></td><td>{{ empresa.nombreComercial }}</td></tr>
    <tr><td><b>Categoría</b></td><td>{{ empresa.categoria }}</td></tr>
    <tr><td><b>Esquema de Pagos</b></td><td>{{ empresa.esquemaPagos }}</td></tr>
    <tr><td><b>Actividad Económica</b></td><td>{{ empresa.actividadEconomica }}</td></tr>
    <tr><td><b>Rama Gubernamental</b></td><td>{{ empresa.ramaGubernamental }}</td></tr>
    <tr><td><b>Estado</b></td><td>{{ empresa.estado }}</td></tr>
  </table>

  <div style="margin-top:16px">
    <button routerLink="/">Volver</button>
  </div>
</div>